.table_cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table_cell label {
  align-self: start;
}

.table_cell input, .table_cell select {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #a0a0a0;
  font-size: 18px;
}

#account_form_container {
  width: 80%;
  margin: 4em auto 5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#create_account_title_wrapper {
  width: 80%;
  align-self: center;
  margin-top: 2em;
  color: black;
  margin: 2em auto 0 auto;
}

#birth_date_header {
  align-self: center;
  margin: 0 0 10px 0;
}

#table_cell_button button {
  margin-top: 10px;
}