.page_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#home_page_container {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Banner */
#home_banner {
  position: relative;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home_banner_image {
  width: 100%;
}

#heroTag {
  position: absolute;
  bottom: 35%;
  left: 50px;
  color: white;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}

#heroTag h2 {
  font-size: 50px;
  margin: 0px;
}

#heroTag p {
  font-size: 18px;
}

.slider_home {
  opacity: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.slider_home.inactive {
  display: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.slider_home.active {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 1;
  display: block;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-animation: moveIn 1.5s;
          animation: moveIn 1.5s;
}

@-webkit-keyframes moveIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#chooser1 {
  border: 1px solid #c2c2c2;
  width: -20px;
  height: -20px;
  border-radius: 35px;
  position: absolute;
  bottom: 5%;
  left: 51%;
  padding: 10px;
}

#chooser2 {
  border: 1px solid #c2c2c2;
  width: -20px;
  height: -20px;
  border-radius: 45px;
  position: absolute;
  bottom: 5%;
  left: 49%;
  padding: 10px;
}

.chooser.active {
  background-color: #c2c2c2;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.chooser.inactive {
  background-color: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* Reel */
#home_reel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 35px;
}

.reel_images {
  padding: 10px 60px 10px 60px;
  width: 16.6667%;
}

.single_reel_image {
  height: auto;
  width: 100%;
}

/* category section */
#category_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 75px;
  margin-bottom: 75px;
}

#category_line {
  width: 85%;
  height: 3px;
  background-color: #3a3a3a;
}

#categories_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}

.category_image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 350px;
  height: 350px;
  margin: 55px 20px 20px 20px;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  position: relative;
}

.category_image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  z-index: 5;
}

#category_1 {
  background-position: center top;
}

#category_1:hover {
  z-index: auto;
  opacity: 0.7;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  background-position: right;
}

#category_1:hover .centered_text {
  border-color: white;
}

#category_2 {
  background-position: center top;
}

#category_2:hover {
  z-index: auto;
  opacity: 0.7;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  background-position: center;
  background-position: right;
}

#category_2:hover .centered_text {
  border-color: white;
}

#category_3 {
  background-position: center top;
}

#category_3:hover {
  z-index: auto;
  opacity: 0.7;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  background-position: center;
  background-position: left;
}

#category_3:hover .centered_text {
  border-color: white;
}

#category_4 {
  background-position: center top;
}

#category_4:hover {
  z-index: auto;
  opacity: 0.7;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  background-position: left;
}

#category_4:hover .centered_text {
  border-color: white;
}

.centered_text {
  color: white;
  text-align: center;
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 10;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-bottom: 2px solid transparent;
}

/* Media Queries */
@media only screen and (max-width: 1605px) {
  #categories_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1334px) {
  #heroTag {
    bottom: 25%;
  }
  #heroTag h2 {
    font-size: 35px;
  }
  .reel_images {
    padding: 5px 20px 5px 20px;
  }
}

@media only screen and (max-width: 934px) {
  #heroTag {
    position: static;
    text-align: center;
    left: 25%;
    color: black;
    background-color: white;
  }
  #heroTag h2 {
    font-size: 25px;
  }
  #chooser1 {
    visibility: hidden;
  }
  #chooser2 {
    visibility: hidden;
  }
  #home_reel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reel_images {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .category_image {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 580px) {
  .reel_images {
    width: 60%;
  }
}
/*# sourceMappingURL=home_page.css.map */