#product_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#image_banner {
  width: 70%;
  height: 300px;
  margin-top: 22px;
  background-size: 1280px 333px;
  align-self: center;
}

#banner_text_area {
  color: white;
  position: relative;
  height: 100%;
}

#banner_content_wrapper {
  position: absolute;
  bottom: 0;
  padding: 15px 15px 35px 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

#banner_content_wrapper h3 {
  margin: 0;
  padding: 15px 0px 15px 0px;
  font-size: 45px;
}

#product_content {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-self: center;
  padding-top: 15px;
}

#shopping_options_container {
  height: 100%;
  width: 20%;
}

#shopping_options_title {
  padding-left: 5px;
  padding-bottom: 10px;
  font-size: 1em;
}

#shopping_options_wrapper {
  background-color: rgb(224, 222, 222);
  border-top: 1px solid rgb(201, 201, 201);
  border-bottom: 1px solid rgb(187, 187, 187);
  border-right: 1px solid rgb(216, 214, 214);
  border-left: 1px solid rgb(214, 214, 214);
}

.shopping_options_category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgb(139, 139, 139);
}

.shopping_options_category:hover {
  background-color: rgb(92, 91, 91);
}

.shopping_options_dropdown {
  background-color: rgb(218, 218, 218);
}

.shopping_options_dropdown {
  background-color: rgb(131, 131, 131);
}

.shopping_options_inputs {
  background-color: rgb(235, 235, 235);
  border-bottom: 1px solid rgb(204, 204, 204);
}

.shopping_options_single_input {
  padding: 15px;
}

#item_list_container {
  height: 50%;
  width: 80%;
}

#item_list_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 75px;
}

.single_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  width: 280px;
}

#add_cart_div {
  display: flex;
  flex-direction: row;
}

#added_to_cart {
  margin-top: 42px;
  margin-left: 15px;
}

.star_ratings {
  margin-bottom: 10px;
}

.item_button {
  background: linear-gradient(180deg, rgb(198, 28, 52) 14%, rgb(226, 26, 54) 52%, rgb(226, 26, 54) 83%, rgb(226, 26, 54) 92%, rgb(226, 26, 54) 100%);
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border: 0px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.item_button:hover {
  background: linear-gradient(0deg, rgb(198, 28, 52) 14%, rgb(226, 26, 54) 52%, rgb(226, 26, 54) 83%, rgb(226, 26, 54) 92%, rgb(226, 26, 54) 100%);
}

.item_button.button_product_page {
  opacity: 0;
}

.single_item:hover .item_button.button_product_page {
  -webkit-animation: hoverButton 0.5s;
          animation: hoverButton 0.5s;
  opacity: 1;
}

@-webkit-keyframes hoverButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hoverButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Media Queries */
@media only screen and (max-width: 950px) {
  #product_content {
    flex-direction: column;
  }
  #shopping_options_container {
    align-self: center;
    width: 60%;
  }
  #item_list_container {
    align-self: center;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 800px) {
  #image_banner {
    display: flex;
    width: 85%;
    justify-content: center;
  }
  #banner_content_wrapper {
    position: static;
    padding: 8px;
  }
  .item_button.button_product_page {
    opacity: 1;
  }
}
@media only screen and (max-width: 580px) {
  #image_banner {
    margin-top: 0px;
    width: 100%;
  }
  #banner_content_wrapper {
    padding: 0;
    text-align: center;
  }
  #shopping_options_container {
    width: 80%;
  }
}/*# sourceMappingURL=product_page.css.map */