$base_color: white;
$secondary_color: #3a3a3a;

@mixin flex_direction_align_justify($direction, $itemAlign, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $itemAlign;
    justify-content: $justify;
    
    
}
@mixin div-same-size-as-background-img($givenWidth, $givenHeight) {   
    background-size: contain;     
    background-repeat: no-repeat;     
    width: 100%;          
    padding-top: 343px; 

}