
/* cart items */

.cart_page_div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 75px;

}


#cart_container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;

}

#cart_page_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title_section_cart {

    width: 95%;

}

.cart_item {

    display: flex;
    flex-direction: row;    
    align-self: center;
    width: 95%;
    border: 1px solid #999999;
    background-color: #dfdfdf;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: -7px 7px 20px -11px rgba(0,0,0,0.75);

}

.left_cart_section {

    width: 50%;
    padding: 30px;

}

.left_cart_section img {

    border: 1px solid #e21a36;
    border-radius: 20px;

}

.right_cart_section {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* shopping summary */ 

#summary_list {

    width: 20%;
    border: 1px solid #999999;
    background-color: #dfdfdf;
    border-radius: 25px;
    box-shadow: -7px 7px 20px -11px rgba(0,0,0,0.75);
    padding: 20px;
    margin-top: 105px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;

}



