/* checkout page stylings */ 

#middle_row_checkout {

    width: 33%;

}

.input_sizes {

    height: 40px;
    border: 1px solid rgb(179, 179, 179);

}

#checkout_div_container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e5e5;
    padding-bottom: 75px;
}

#announce {

    align-self: center;
    font-size: 60px;

}

#checkout_div_wrapper {

    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    align-self: center;

}

.checkout_title_sections {

    display: flex;
    flex-direction: row;
    background-color: #3a3a3a;
    color: white;
    align-items: center;

}

.checkout_title_numbers {

    background-color: #e11936;
    height: 35px;
    width: 35px;
    margin: 20px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color:white;

}

/* shipping address section */

/* container */
#shipping_address_container {

    background-color: rgb(255, 255, 255);
    width: 33%;
    margin: 10px;
    height: fit-content;

}

#shipping_address_form {

    margin-top: 30px;

}

.input_wrapper label {

    margin-bottom: 5px;

}

#shipping_address_names {

    display: flex;
    flex-direction: row;
    width: 100%;

}

.input_wrapper {

    display: flex;
    flex-direction: column;
    margin: 10px;
}

#last_name_1, #first_name_1 {

    width: 100%;

}

#shipping_method_container {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;


}


#shipping_method_options {

    border-collapse: collapse;

}

.table_row_shipping {

    display: table-row;
    text-align: left;
    border: 1px solid rgb(211, 211, 211);


}

.table_row_shipping div {

    padding: 20px;
    display: table-cell;

}

/*payment section */

#credit_card_form {

    margin-bottom: 10px;

}

#date_and_cvv {

    width: 100%;

}

#expiry_date {

    width: 100%;

}

#CVV {

    width: 100%;

}

/* container */
#payment_section {

    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    margin: 10px;

}

#credit_card_section_input {

    display: flex;
    flex-direction: row;

}

#date_and_cvv {

    display: flex;
    flex-direction: row;

}

/* shipping methods section */

/* container */
#shipping_methods_section {

    background-color: rgb(255, 255, 255);
    margin: 10px;

}

/* order summary section */ 

#amount_of_items {

    margin-left: 30px;

}

#order_summary_item_list hr{

    width: 90%;

}

#order_summary_item_list {

    margin: 10px;

}

/* container */
#order_summary_section {

    background-color: rgb(255, 255, 255);
    width: 33%;
    margin: 10px;
    height: fit-content;

}

.order_summary_item {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order_summary_info_item {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;

}




