@import "_base_stylings.scss";

.page_div {

    display: flex;
    justify-content: center;
    width: 100%;

}

#home_page_container {

    width: 100%;
    align-self: center;


}

/* Banner */

#home_banner {

    position: relative;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;

}

#home_banner_image {

    width: 100%;

}

#heroTag {

    position: absolute;
    bottom: 33%;
    left: 50px;
    color: white;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    background: rgba($color: #000000, $alpha: .4);

}

#heroTag h2 {

    font-size: 50px;
    margin: 0px;

}

#heroTag p {

    font-size: 18px;

}

/* Reel */ 

#home_reel {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    
}


.reel_images {

    padding: 10px 40px 10px 40px;
    width: 16.6667%;
}

.single_reel_image {

    height:auto;
    width: 100%;

}

/* Category Images */ 

#category_images_wrapper {

    width: 75%;

}

#Category_Images_Page {

    height: 100%; 

}

#middle_category_container {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

#category_images_container {

    display: flex;
    justify-content: center;
    width: 100%;

}

/*VERTICAL*/      /*HORIZONTAL*/

/* | i |  | i |   ---------    */
/* | m |  | m |    image       */
/* | a |  | a |   ---------    */
/* | g |  | g |   ---------    */
/* | e |  | e |    image       */
/*                ---------    */


/****VERTICAL category of middle ****/

#vertical_category_wrapper {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 50%;

}

#category_headgear {
    background-color: aquamarine;
    @include div-same-size-as-background-img(300,600);
    width: 100%;
    margin-right: 10px;
    
   
}

#category_heavy_bag {

    @include div-same-size-as-background-img(300,600);
    width: 100%;
    margin-right: 5px;

}

/****HORIZONTAL category of middle ****/

#headgear_heavy_bag_container {

    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5px;
        
}

#category_apparel {

    @include div-same-size-as-background-img(640, 320);
    margin-bottom: 10px

}

#category_corner {

    @include div-same-size-as-background-img(640, 320);

}



