@import "./product_page.scss";
@import "./header.scss";
@import "./navigation.scss";
@import "./single_product.scss";
@import "./login.scss";



body {
    margin: 0;
    color: rgb(70, 70, 70);
}

#root {
    background-color: $base_color;
    font-family: Helvetica , Arial, sans-serif;
    margin: 0;
}

ul {
    padding: 0px;
    list-style-type: none;
}

a {

    text-decoration: none;

}



.page_div {

    display: flex;
    justify-content: center;

}