#product_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#image_banner {
  width: 75%;
  height: 300px;
  margin-top: 22px;
  background-size: 1280px 333px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#banner_text_area {
  color: white;
  position: relative;
  height: 100%;
}

#banner_content_wrapper {
  position: absolute;
  bottom: 0;
  padding: 15px 15px 35px 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

#banner_content_wrapper h3 {
  margin: 0;
  padding: 15px 0px 15px 0px;
  font-size: 45px;
}

#product_content {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 15px;
}

#shopping_options_container {
  height: 100%;
  width: 20%;
}

#shopping_options_title {
  padding-left: 5px;
  padding-bottom: 10px;
  font-size: 1em;
}

#shopping_options_wrapper {
  background-color: #e0dede;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #bbbbbb;
  border-right: 1px solid #d8d6d6;
  border-left: 1px solid #d6d6d6;
}

.shopping_options_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #8b8b8b;
}

.shopping_options_category:hover {
  background-color: #5c5b5b;
}

.shopping_options_dropdown {
  background-color: #dadada;
}

.shopping_options_dropdown {
  background-color: #838383;
}

.shopping_options_inputs {
  background-color: #ebebeb;
  border-bottom: 1px solid #cccccc;
}

.shopping_options_single_input {
  padding: 15px;
}

#item_list_container {
  height: 50%;
  width: 80%;
}

#item_list_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.single_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  width: 28%;
}

.item_button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #c61c34), color-stop(52%, #e21a36), color-stop(83%, #e21a36), color-stop(92%, #e21a36), to(#e21a36));
  background: linear-gradient(180deg, #c61c34 14%, #e21a36 52%, #e21a36 83%, #e21a36 92%, #e21a36 100%);
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border: 0px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.item_button:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(14%, #c61c34), color-stop(52%, #e21a36), color-stop(83%, #e21a36), color-stop(92%, #e21a36), to(#e21a36));
  background: linear-gradient(0deg, #c61c34 14%, #e21a36 52%, #e21a36 83%, #e21a36 92%, #e21a36 100%);
}
/*# sourceMappingURL=product_page.css.map */